<main class="w-100 d-flex flex-column" *ngIf="!loading">
    <section class="w-100 d-flex flex-column flex-md-row justify-content-evenly flex-wrap align-items-center">
        <article class="recipe-data d-flex flex-column text-center">
            <h2 class="recipe-name">{{ currentRecipe?.recipeName }}</h2>
            <a (click)="navigateToAuther()">
                <span>
          {{ currentRecipe?.authorName }}
        </span>
            </a>
            <div class="user-social d-flex justify-content-between">
                <a href=""><img class="face-link" src="../../../../assets/svg/facebook.svg" alt="" /></a>
                <a href="">
                    <img class="twitter-link" src="../../../../assets/svg/twitter.svg" alt="" />
                </a>
                <a href="">
                    <img class="site-link" src="../../../../assets/svg/website.svg" alt="" />
                </a>
            </div>

            <div class="d-flex recipe-summary justify-content-center">
                <article class="recipe-summary-item">
                    <div style="font-size: 40px" class="m-3">{{ ingrediantsCount }}</div>
                    <span class>Ingredients</span>
                </article>
                <div class="vertical-sep"></div>
                <article class="recipe-summary-item">
                    <div style="font-size: 40px" class="m-3">
                        {{ currentRecipe?.time }}
                    </div>
                    <span>Minutes</span>
                </article>
                <div class="vertical-sep"></div>
                <article class="recipe-summary-item">
                    <div style="font-size: 40px" class="m-3">
                        {{ currentRecipe?.calories }}
                    </div>
                    <span>Calories</span>
                </article>
            </div>
            <span class="mx-auto my-4"> {{ currentRecipe?.serving }} Serving</span>

            <div class="d-flex px-5 my-3 my-md-2 recipe-summary-interaction justify-content-between align-items-center">
                <div class="Learn-btn">Read Direction</div>

                <img class="add-icon" src="../../../../assets/images/add-recipe.png" alt="" srcset="" />
            </div>
        </article>
        <article class="recipe-img-container">
            <img class="recipe-img" src="{{ currentRecipe?.recipeImage }}" alt="" srcset="" />
        </article>
    </section>
    <div class="horizontal-sep"></div>
    <section class="d-flex w-100">
        <section class="main-section">
            <section class="d-flex flex-column justify-content-center">
                <article class="ingredients-nutrition w-100"></article>
                <article class="d-flex flex-column flex-md-row">
                    <div class="ingredients">
                        <div class="d-flex justify-content-between align-items-center inner-block">
                            <h3>Ingrediants</h3>
                            <img style="width: 25px; height: 25px" src="../../../../assets/images/flour.png" alt="" />
                        </div>
                        <div class="gradiant-line"></div>

                        <ul>
                            <li *ngFor="let ingredient of currentRecipe?.recipeIngredients">
                                <h5>{{ ingredient }}</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="ingredients">
                        <div class="d-flex justify-content-between align-items-center inner-block">
                            <h3>Nutritions</h3>
                            <img style="width: 25px; height: 25px" src="../../../../assets/images/nutritions.png" alt="" />
                        </div>
                        <div class="gradiant-line"></div>

                        <ul>
                            <li>
                                <div class="d-flex justify-content-between">
                                    <h5>Calories</h5>
                                    <h5>{{ currentRecipe?.calories }}</h5>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between">
                                    <h5>Fats</h5>
                                    <h5>{{ currentRecipe?.fats }}</h5>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between">
                                    <h5>Saturated Fats</h5>
                                    <h5>{{ currentRecipe?.saturatedFats }}</h5>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between">
                                    <h5>Sodium</h5>
                                    <h5>{{ currentRecipe?.sodium }}</h5>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between">
                                    <h5>Carbohydrates</h5>
                                    <h5>{{ currentRecipe?.carbohydrates }}</h5>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between">
                                    <h5>Fibers</h5>
                                    <h5>{{ currentRecipe?.fibers }}</h5>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between">
                                    <h5>Sugar</h5>
                                    <h5>{{ currentRecipe?.sugar }}</h5>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between">
                                    <h5>Protein</h5>
                                    <h5>{{ currentRecipe?.protein }}</h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="directions d-flex flex-column">
                    <h3>Directions</h3>
                    <div class="gradiant-line"></div>

                    <ng-container *ngFor="
              let directions of currentRecipe?.recipeInstructions;
              let i = index
            ">
                        <div class="d-flex align-items-center justify-content-center" style="
                height: 35px;
                width: 35px;
                border-radius: 50%;
                color: white;
                background-color: var(--main-color);
              ">
                            {{ i + 1 }}
                        </div>
                        <div class="direction-text">
                            {{ directions }}
                        </div>
                    </ng-container>
                </article>
            </section>
            <section class="recipe-tags w-100">
                <h3>Recipe Tags</h3>
                <div class="d-flex flex-wrap w-100">
                    <ng-container *ngFor="let tag of currentRecipe?.recipeTags">
                        <div class="tag rounded-pill">{{ tag }}</div>
                    </ng-container>
                </div>
            </section>
            <div class="horizontal-sep"></div>
            <!-- Write a Review -->
            <section class="reviews">
                <h3>Write your review</h3>
                <section class="w-100 d-flex align-items-start my-4">
                    <div>
                        <img class="reviewer-img" src="{{ currentUser?.userImg }}" alt="" />
                    </div>
                    <div class="reviewer-data d-flex flex-column justify-content-start flex-fill">
                        <div class="d-flex">
                            <div class="reviewer-name me-3">
                                {{ currentUser?.userName }}
                            </div>
                        </div>
                        <!-- <div>Rating Builder Here</div> -->

                        <form (ngSubmit)="addNewReview()">
                            <div class="my-2 flex-grow-1">
                                <input class="input-review-text" placeholder="write a review or a feedback" name="reviewcontent" required type="text" [(ngModel)]="newReview!.reviewContent" minlength="20" maxlength="300" />
                            </div>
                            <div class="d-flex">
                                <input class="submit-btn" type="submit" value="Submit" />
                                <input class="cancel-btn" type="button" value="Cancel" (click)="newReview!.reviewContent = ''" />
                            </div>
                        </form>
                    </div>
                </section>
            </section>

            <!-- All Reviews -->
            <section class="reviews">
                <h3>Reviews</h3>
                <div class="gradiant-line"></div>
                <section class="w-100 d-flex align-items-start my-4" *ngFor="let review of currentRecipe?.reviews; let i = index">
                    <div>
                        <div class="reviewer-img d-flex align-items-center justify-content-center">
                            <h4 class="m-0">
                                {{ review.writerName[0] }}
                            </h4>
                        </div>
                    </div>
                    <div class="reviewer-data d-flex flex-column justify-content-start">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="d-flex">
                                <div class="reviewer-name me-3">
                                    {{ review.writerName }}
                                </div>
                                <div>{{ review.reviewDate | date: "short" }}</div>
                            </div>

                            <img *ngIf="currentUser?.id == review.writerId" class="delete-review-icon" src="../../../../assets/images/cross.png" alt="" srcset="" />
                        </div>
                        <div>
                            {{ review.reviewRating }}
                        </div>
                        <div class="review-content my-5">
                            {{ review.reviewContent }}
                        </div>
                    </div>
                </section>
            </section>
        </section>
        <section class="read-next">
            <article>
                <h2>Read Next</h2>
                <div class="gradiant-line"></div>
                <!-- <div>
                    <ng-container *ngFor="let recipe of autherRecipes">
                        <div class="auther-recipe d-flex align-items-center justify-content-center">
                            <img class="auther-recipe-image" src="{{ recipe.recipeImg }}" alt="" />
                            <div class="auther-recipe-name">
                                {{ recipe.recipeName }}
                            </div>
                        </div>
                    </ng-container>
                </div> -->
            </article>
        </section>
    </section>
    <div class="text-center" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
</main>