<div class="container">
    <div class="row">
        <div class="col-lg-3 p-5 col-md-6 col-sm-6">
            <div class="content">
                <div class="icon">
                    <img src="../../../../assets/images/icon-1.png" />
                </div>
                <h3 class="text-capitalize mb-3 mt-2">Save on time</h3>
                <div>
                    <p class="mb-3">
                        Avoid unnecessary trips to the store by cooking with ingredients you have at home
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 p-5 col-md-6 col-sm-6">
            <div class="content">
                <div class="icon">
                    <img src="../../../../assets/images/icon-2.jpg" />
                </div>
                <h3 class="text-capitalize mb-3 mt-2">Save on groceries</h3>
                <div>
                    <p class="mb-3">
                        Reduce food waste (and save your cash!) by using up the food you have.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 p-5 col-md-6 col-sm-6">
            <div class="content">
                <div class="icon">
                    <img src="../../../../assets/images/icon-3.png" />
                </div>
                <h3 class="text-capitalize mb-3 mt-2">Back To Your Kitchen!</h3>
                <div>
                    <p class="mb-3">
                        Hang on to your chef's hat as you cook up a storm — for kids of all ages, including grownups.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 p-5 col-md-6 col-sm-6">
            <div class="content">
                <div class="icon">
                    <img src="../../../../assets/images/icon-1.png" />
                </div>
                <h3 class="text-capitalize mb-3 mt-2">Read all about it</h3>
                <div>
                    <p class="mb-3">
                        Cooking tips and tricks, chef interviews, and our favorite recipes from the Yummly cooking crew and around the web!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>