<div class="container">
    <div class="row">
        
        <div class="col-lg-4 p-5">
            <div class="content">
                <div class="icon mb-3">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <h4 class=" text-capitalize mb-2 mt-2">Save on time</h4>
                <div>
                    <p class="mb-3">
                    Avoid unnecessary trips to the store by cooking with ingredients you have at home
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 p-5">
            <div class="content">
                <div class="icon mb-3">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <h4 class=" text-capitalize mb-2 mt-2">Save on groceries</h4>
                <div>
                    <p class="mb-3">
                    Avoid unnecessary trips to the store by cooking with ingredients you have at home
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 p-5">
            <div class="content">
                <div class="icon mb-3">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <h4 class=" text-capitalize mb-2 mt-2">Save on time</h4>
                <div>
                    <p class="mb-3">
                    Avoid unnecessary trips to the store by cooking with ingredients you have at home
                    </p>
                </div>
            </div>
        </div>


      


        
    </div>
</div>

