<div class=" heroSection ">
   <app-bread-crumb [Title]="title" [Text]="text" [pageUrl]="Url"></app-bread-crumb>
 </div>
<div class="container">
  <div class="row text-center mb-5">
    <div class="col-lg-3">
      <div class="img-wraper">
       <img src="../../../assets/images/about-7.png">
      </div>
 </div> 
    <div class="col-lg-6 ">
      <div class="content mt-4 p-5">
        <h2 class="mb-4">
          A Hobby, a Talent, and now, a<span>Profession </span>
        </h2>
        <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
      <button class="btn Learn-btn">Learn More</button>
      </div>
    </div>
    <div class="col-lg-3">
         <div class="img-wraper">
          <img src="../../../assets/images/about-6.png">
         </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col-lg-6">
         <div class="img-wraper item">
          <img src="../../../assets/images/about-5.png">
         </div>
    </div>
    <div class="col-lg-6 ">
      <div class="content mt-4 p-5">
        <h2 class="mb-3 p-4">
          Cooking is not just a skills, its a <span>Passion</span>
        </h2>
        <p class="p-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
      </div>
    </div>
  </div>
</div>
