<div class="heroSection">
    <app-bread-crumb [Title]="title" [Text]="text" [pageUrl]="Url"></app-bread-crumb>
</div>

<div class="container-fluid p-5 mt-5">
    <div class="row text-center mb-5">
        <div class="col-lg-2 col-md-2 col-sm-12">
            <img class="img-wraper" src="../../../assets/images/about-7.png" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="content p-5">
                <h2 class="mb-4">
                    A Hobby, a Talent, and now, a <span>Profession </span>
                </h2>
                <p class="mb-4">
                    We help people discover what to eat based on personal preferences and data so the question "what's for dinner ? " is answered before it's even asked
                </p>
                <button class="btn Learn-btn">Learn More</button>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <img class="img-wraper" src="../../../assets/images/about-6.png" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6 mx-auto">
            <img class="img-wraper" src="../../../assets/images/about-5.png" />
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="content mt-4 p-5 text-center text-md-start">
                <h2 class="mb-3 p-4">
                    Cooking is not just a skills, its a <span> Passion</span>
                </h2>
                <p class="p-4">
                    We help people to understand receipes at a deeper level , also we recommend receipes to our users based on their tastes , allergies and more .
                </p>
            </div>
        </div>
    </div>
</div>

<app-newsletter></app-newsletter>