<main>
    <img class="background-img" src="https://x.yummlystatic.com/web/no-page-image.jpg" alt="" />
    <section class="content">
        <article class="m-5">
            <h2>Oops!</h2>
        </article>
        <span>
      <h3>
        Sorry, the page you were looking for doesn't exist. Here are some
        helpful links instead:
      </h3>
    </span>
        <article class="d-flex flex-column inside-nav align-items-center justify-content-between">
            <div class="d-flex flex-nowrap align-items-center justify-content-evenly w-100">
                <h4 routerLink="/home" class="nav-item">Home</h4>
                <h4 routerLink="/profile" class="nav-item">Profile</h4>
                <h4 routerLink="/about" class="nav-item">About</h4>
            </div>
            <div class="d-flex flex-nowrap justify-content-evenly w-100">
                <h4 class="nav-item">Careers</h4>
                <h4 class="nav-item">Bookmarklet</h4>
                <h4 class="nav-item">FAQs</h4>
            </div>
        </article>
    </section>
</main>