<div class="container py-5 px-0 ">
    <div class="row align-items-center mt-5 pt-5">
        <div class="col-lg-6 text-center text-lg-start">
            <h1 class="text-white">
                Enjoy our
                <br /> Delicious Meal
            </h1>
            
            <p class="text-white mb-4 pb-2">
                Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit.
                <br />Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit,
                <br /> sed stet lorem sit clita duo justo magna dolore erat amet
            </p>
            <a href="#" class="btn py-sm-3 px-sm-5 me-3 Learn-btn mt-2">Learn More
      </a>
        </div>
        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
            <img class="img-fluid" src="../../../assets/images/hero.png" />
        </div>
    </div>
</div>