
h1{
    font-size: 5rem !important;
    line-height: 1.2;
}
p{
    font-size: 1.7rem !important;
    line-height: 1.2;
}
img{
    animation: imgRotate 50s linear infinite;
}
@keyframes imgRotate {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}