<div class="main-container">
<div class="container py-5  px-0">
    <div class="row align-items-center mt-5 pt-5 ">
        <div class="col-lg-6 col-md-12 text-center text-lg-start">
            <h1 class="text-white">
                Enjoy our
                <br /> Delicious Meal
            </h1>
            
            <h4 class="text-white mb-5 pb-2">
                We are Improving life in the kitchen for millions<br> of home cooks around the world  
            </h4>
            <a href="#" class="btn py-sm-3 px-sm-5 me-3 Learn-btn mt-2">Learn More
      </a>
        </div>
        <div class="col-lg-6 col-md-12 text-center d-flex justify-content-center  text-lg-end overflow-hidden">
            <div class=" main-item">
            <img class="img-fluid" src="../../../assets/images/hero.png" />
        </div>
        </div>
    </div>
</div>
</div>