<main class="d-flex flex-column justify-content-center">
    <section class="d-flex flex-lg-row flex-column align-items-center justify-content-center w-100 mt-5 main-page">
        <div class="user-avatar d-flex align-items-center justify-content-center mx-auto mx-md-3">
            <h2 class="m-0">H</h2>
            <!-- <img class="user-avatar-img" src="https://ichef.bbci.co.uk/news/999/cpsprodpb/79F2/production/_123381213_06.jpg" alt="" /> -->
        </div>
        <section class="user-info d-flex flex-column align-items-center align-items-lg-start">
            <div class="user-name m-1">
                <div>Hassan Farag</div>
            </div>

            <div class="bio">
                <span>Tell us about yourself</span>
            </div>
            <div class="d-flex flex-column flex-lg-row align-items-center mt-2">
                <div class="user-social d-flex flex-row">
                    <div class="social-link">
                        <img class="w-100" src="../../../assets/images/facebook-link.png" alt="" />
                    </div>
                    <div class="social-link">
                        <img class="w-100" src="../../../assets/images/twitter.png" alt="" />
                    </div>
                    <div class="social-link">
                        <img class="w-100" src="../../../assets/images/website.png" alt="" />
                    </div>
                </div>
                <div class="sep-line"></div>

                <div>
                    <p>
                        <span class="location-item">City</span>,
                        <span class="location-item">State</span>,
                        <span class="location-item">Countery</span>
                    </p>
                </div>
            </div>
        </section>
    </section>
    <div class="w-75 my-5 mx-auto flex-fill flex-grow-1 justify-content-start">
        <h2>ALL USER RECIPES HERE</h2>
    </div>
</main>