<main>
    <section class="collection-header">
        <div class="collection-img-container">
            <img class="collection-img" src="{{ currentCollection?.collectionImg }}" alt="" srcset="" />
        </div>
        <div class="blur"></div>

        <div class="header-content d-flex flex-column justify-content-center align-items-center text-light">
            <h3 ChangeCursor class="collection-name my-4">
                {{ currentCollection?.collectionName }}
            </h3>
            <div class="collection-recipes-no my-2">
                {{ currentCollection?.noOfRecipes }} Recipes
            </div>
            <div ChangeCursor class="collection-description">
                {{ currentCollection?.collectionDescription }}
            </div>
        </div>
        <div ChangeCursor class="d-flex delete-collection">
            <img class="mx-2" src="../../../assets/images/delete.png" alt="" srcset="" />
            <span> Delete this collection</span>
        </div>
    </section>
    <section [class.d-none]="currentCollection?.noOfRecipes != 0 ? true : false" class="d-flex flex-column align-items-center justify-content-center recipes-section">
        <div class="icon-container">
            <img class="search-icon w-100" src="../../../assets/svg/search-icon.svg" alt="" />
        </div>
        <h3 style="font-size: 1.2em; color: gray" class="my-4">
            Search for {{ currentCollection?.collectionName }} on Yummly
        </h3>
        <h4 class="text-dark fw-normal">
            You have yet to add any recipes to this collection
        </h4>
    </section>
</main>