<div class=" bg-dark heroSection ">
    <app-bread-crumb [Title]="title" [Text]="text"></app-bread-crumb>
  </div>
<div class="container">
  <div class="row text-center">
    <div class="col-lg-10 m-auto">
      <h1 class="mb-4">Cook with what you have</h1>
      <p>Don't want to go to the store? No problem! Enter the ingredients you have on hand, and we'll show you recipes you could make. For best results, enter 10 or more ingredients below, including staples like salt, pepper, and olive oil. The ingredients you add here will sync with your Virtual Pantry on Android. Any changes in one will update the other.</p>
    </div>
  </div>
</div>

<app-saving></app-saving>
<!--search pantry -->
<div class="container">
  <div class="row">
   <div class="col-lg-12">
      <form>
        <div class="row">
        <div class="col-lg-8">
          <div class="row">
          <div class="col-10">
            <input type="text" placeholder="Enter Your Ingredient" 
            name="ingredient-input" class="form-control"
             #inputValue 
            >
          </div>
        <div class="col-2">
          <button type="button" (click)="printit(inputValue.value)" class="btn submit-btn">ADD</button>
        </div>
        </div>
       </div>
       </div>
       <div class="row" >
        <div class="col-lg-8">
           <button class="btn select-btn mt-3"
           type="button" (click)="focusFunction()">Suggested Ingredient</button>
           <div class="row suggested" [hidden]="!visible" >
            <div class="col-lg-12 mt-5 mb-5">
               <button class="btn me-3 mb-2 select-btn"  type="button"
               *ngFor="let item of MainIngredientList ;let i = index;"
                (click)="printit(item)">
                    {{item}}
               </button>
               <button class="btn btn-danger close" type="button" (click)="onBlur()">X</button> 
            </div>
           </div>
       </div>
       </div>
       <div class="row text-center mt-5">
        <div class="col-lg-6 col-md-12" >
          <button type="button" class="btn Learn-btn" (click)="searchPantry()">Search Pantry Ready Receipes</button>
        </div>
      </div>
      </form>
  </div>
  </div>

</div>




