<div class="bg-dark heroSection">
    <app-bread-crumb [Title]="title" [Text]="text"></app-bread-crumb>
</div>
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-lg-10 col-md-12 m-auto p-2">
            <h2 class="mb-5">Cook with what you have</h2>
            <p class="mb-5">
                Don't want to go to the store? No problem! Enter the ingredients you have on hand, and we'll show you recipes you could make. For best results, enter 10 or more ingredients below, including staples like salt, pepper, and olive oil. The ingredients you
                add here will sync with your Virtual Pantry on Android. Any changes in one will update the other.
            </p>
        </div>
    </div>
</div>

<!--search pantry -->
<div class="searchPantry pt-5 pb-5">
    <div class="container">
        <form>
            <div class="row">
                <div class="col-lg-8 col-md-12 m-auto">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <input type="text" placeholder="Enter Your Ingredient" name="ingredient-input" class="form-control" #inputValue [(ngModel)]="searchWord" (ngModelChange)="search()" />
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <button type="button" (click)="Add(inputValue.value)" class="btn submit-btn">
                ADD
              </button>
                        </div>
                    </div>
                    <div class="my-2 d-flex flex-wrap">
                        <article>
                            <button class="btn mb-2 rounded-pill selected-btn" type="button" *ngFor="let item of ingredientList; let i = index" (click)="removeIng(item)" mat-stroked-button>
                {{ item }}
              </button>
                        </article>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-12 m-auto">
                    <button class="btn select-btn mt-3" type="button" (click)="focusFunction()">
            Suggested Ingredient
          </button>
                    <div class="row suggested mt-5" [hidden]="!visible">
                        <div class="col-lg-12 col-md-12 mt-5 mb-5">
                            <button class="btn btn-danger close" type="button" (click)="onBlur()">
                X
              </button>
                            <button class="btn mb-2 select-btn" type="button" *ngFor="let item of MainIngredientList; let i = index" (click)="Add(item.name)" mat-stroked-button>
                {{ item.name }}
              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center mt-5">
                <div class="col-lg-8 col-md-12 col-md-12 m-auto">
                    <button type="button" class="btn Learn-btn" (click)="searchPantry()">
            Search Pantry Ready Receipes
          </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="Shown">
    <app-search-not-found [textShown]="textShown"></app-search-not-found>
</div>
<div class="container">
    <div class="row mt-5" *ngIf="!loading">
        <div class="col-lg-3 col-md-6 mb-4" *ngFor="
        let receipe of AllReceipes
          | paginate: { itemsPerPage: count, currentPage: p };
        let i = index
      ">
            <div>
                <app-card [title]="receipe.recipeName" [imgSrc]="receipe.recipeImage" [text]="receipe.recipeIngredients" [recivedRecipe]="receipe" [receipeRating]="receipe.recipeRating"></app-card>
            </div>
        </div>
        <div class="text-center">
            <pagination-controls (click)="pagination()" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>

    <!--spinner-->
    <div class="row mt-5 text-center d-flex justify-content-center align-items-center" style="height: 500px" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
</div>