<main class="my-5 d-flex flex-column m-auto">
    <section *ngFor="
      let prefType of preferencesTypesList;
      let i = index;
      let last = last
    " class="d-flex text-center align-items-center flex-column mt-5 w-100">
        <h3>{{ prefType }}</h3>
        <h5 class="mt-3 mb-5">
            Select from the {{ prefType }} below and we will only show you recipes that match.
        </h5>

        <!-- Add Preferences Btn -->
        <section class="add-section d-flex flex-wrap m-auto">
            <article class="d-flex flex-nowrap">
                <div ChangeCursor class="add-pref-outerbg d-flex align-items-center justify-content-center position-relative" (click)="showThisPreferencesList(i)">
                    <div class="add-pref-content d-flex flex-column align-items-center justify-content-center">
                        <img class="icon" src="../../../assets/images/add.png " alt=" " srcset="" />

                        <span class="text-add text-center">{{ prefType }}</span>
                    </div>
                </div>

                <img ChangeCursor *ngIf="shownPreferencesList[i] == true" class="close" src="../../../assets/images/cross.png " (click)="showThisPreferencesList(i)" />
            </article>
        </section>

        <!-- Selected Preferences -->
        <article *ngIf="(preferencesList | matchesType: prefType).length > 0" class="d-flex flex-wrap align-items-center my-2">
            <div class="my-3 d-flex justify-content-center flex-wrap align-items-center">
                <div class="me-3">Selected {{ prefType }} :</div>
                <div *ngFor="
            let selectedPref of preferencesList | matchesType: prefType;
            let y = index
          ">
                    <div ChangeCursor class="d-flex selected-preferences-item rounded-pill me-2 my-2" (click)="
              removeFromPreferences(
                prefType,
                selectedPref.preferenceValue,
                selectedPref.preferenceId!
              )
            ">
                        <div class="category-name">{{ selectedPref.preferenceValue }}</div>
                    </div>
                </div>
            </div>
        </article>
        <!-- All Preferences -->

        <section *ngIf="shownPreferencesList[i] == true && unWantedPrefrences.length != 0" class="preferences">
            <div class="w-100 d-flex flex-lg-wrap m-auto justify-content-start justify-content-md-center">
                <div ChangeCursor *ngFor="
            let pref of unWantedPrefrences | matchesType: prefType;
            let y = index
          " class="flex-shrink-0 d-flex align-items-center m-2">
                    <div class="d-flex preferences-item rounded-pill flex-column align-items-center justify-content-center" (click)="addToPreferencesList(prefType, pref.preferenceValue)">
                        <div class="category-name">{{ pref.preferenceValue }}</div>
                    </div>
                </div>
            </div>
        </section>
        <div [hidden]="last" class="horizontal-sep"></div>
    </section>
</main>