<main class="mt-5 d-flex flex-column w-75 m-auto">
    <section *ngFor="let pref of allPreferences; let i = index" class="d-flex text-center align-items-center flex-column mt-5 w-100">
        <h3>{{ pref.name }}</h3>
        <h5 class="my-3">
            Select from the {{ pref.name }} below and we will only show you recipes that match.
        </h5>

        <!-- Add Preferences Btn -->
        <section class="add-section d-flex flex-wrap m-auto">
            <article class="d-flex flex-nowrap">
                <div ChangeCursor class="add-pref-outerbg d-flex align-items-center justify-content-center position-relative" (click)="showThisPreferencesList(i)">
                    <div class="add-pref-content d-flex flex-column align-items-center justify-content-center">
                        <div class="icon">
                            <img class="icon w-75" src="../../../assets/images/add.png " alt=" " srcset="" />
                        </div>
                        <span class="text-add text-center">{{ pref.name }}</span>
                    </div>
                </div>

                <img ChangeCursor *ngIf="shownPreferencesList[i] == true" class="close" src="../../../assets/images/cross.png " (click)="showThisPreferencesList(i)" alt=" " srcset="" />
            </article>
        </section>

        <!-- Selected Preferences -->
        <article *ngIf="preferencesList.length > 0" class="d-flex flex-wrap align-items-center my-2">
            <div class="my-3 d-flex flex-wrap align-items-center">
                <div class="me-3">Selected {{ pref.name }} :</div>
                <div *ngFor="
            let favouritePref of preferencesList[i].categories;
            let y = index
          ">
                    <div ChangeCursor (click)="removeFromPreferences(favouritePref, preferencesList[i])" class="d-flex selected-preferences-item rounded-pill me-2 my-2">
                        <div class="category-name">{{ favouritePref }}</div>
                    </div>
                </div>
            </div>
        </article>
        <!-- All Preferences -->
        <section *ngIf="
        shownPreferencesList[i] == true &&
        allPreferences[i].categories.length != 0
      ">
            <div class="w-100 preferences d-flex overflow-hidden flex-wrap m-auto">
                <div ChangeCursor *ngFor="let cat of pref.categories" class="flex-shrink-0 d-flex align-items-center justify-content-center m-2">
                    <div (click)="addToPreferencesList(cat, pref)" class="d-flex preferences-item rounded-pill flex-column align-items-center justify-content-center">
                        <div class="category-name">{{ cat }}</div>
                    </div>
                </div>
            </div>
        </section>
        <div class="horizontal-sep"></div>
    </section>
</main>