<!-- <footer class="container-fluid bg-dark text-white w-100 pt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3 class="footer-title mb-4">About us</h3>
                <p class="text-white">
                    Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                </p>
            </div>

            <div class="col-lg-3 col-md-6">
                <h3 class="footer-title mb-4">Pages</h3>

                <a href="#" class="footer-link mb-3">About Us</a>
                <a href="#" class="footer-link mb-3">Contact Us</a>
                <a href="#" class="footer-link mb-3">Our Receipes</a>
                <a href="#" class="footer-link mb-3">Privacy Ploicy</a>
                <a href="#" class="footer-link mb-3">Terms & Conditions</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="footer-title mb-4">Get in Touch</h3>
                <p class="mb-2 text-white">
                    <i class="fa-solid fa-location-dot me-3"></i> 123 Street, New York, USA
                </p>
                <p class="mb-2 text-white">
                    <i class="fa-solid fa-phone me-3"></i> +012 345 67890
                </p>
                <p class="mb-2 text-white">
                    <i class="fa-solid fa-envelope me-3"></i> info@example.com
                </p>
                <div class="d-flex pt-2">
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <h3 class="footer-title mb-4">Subscribe</h3>
                <p class="text-white">
                    Dolor amet sit justo amet elitr clita ipsum elitr est.
                </p>
                <div class="news">
                    <input class="form-control ps-4 py-3 pe-5" type="email" placeholder="Your Email" />
                    <button class="btn submit-btn mt-4" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</footer> -->