<div class="content">
    


<div class="container mt-5 ">
    <div class="row">
        <div class="col-lg-6 col-md-6 text-center m-auto">
            <h2 class="mb-5  mt-5">Subscribe to Our Newsletter</h2>
            <p class="mb-5">Get access to my latest recipes by joining the weekly newsletter</p>           
        </div>
        </div>
        <div class="row">
        <div class="col-lg-4 col-md-5 text-center m-auto">
            <form class="mb-5">
            <input class="form-control mb-5" type="email" placeholder="Enter your Email Address">
            <button class="btn submit-btn">Submit</button>
            </form>
        </div>
    </div>
    </div>
    </div>

    <div class="img-container bg-primary">
    <div class="row ms-0">
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
            <div class="imgs">
            <img src="../../../assets/images/1.jpg">
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
            <div class="imgs">
            <img src="../../../assets/images/2.jpg">
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
            <div class="imgs">
            <img src="../../../assets/images/3.jpg">
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
            <div class="imgs">
            <img src="../../../assets/images/4.jpg">
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
            <div class="imgs">
            <img src="../../../assets/images/5.jpg">
            </div>
        </div>
          <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
            <div class="imgs">
            <img src="../../../assets/images/6.jpg">
            </div>
        </div>
       
    
    </div>
</div>

    
