<div class=" bg-dark heroSection ">
    <app-bread-crumb [Title]="title" [Text]="text" ></app-bread-crumb>
  </div>

  

  
  <!--find receipes  -->
  <section class="search-container ">
<div class="container">
    <div class="row   pt-5 pb-5">
        <div class="col-lg-8 col-md-6 col-sm-12">
            <input class="form-control" placeholder="Receipe" >
        </div>
        <div class="col-lg-4 col-md-6">
            <button type="submit" class="btn submit-btn">
                Search
            </button>
        </div>
        </div>
</div>
  </section>
  <div class="container ">
        <div class="row">
        <div class="col-lg-12">
            <button class="btn Learn-btn mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#advancedSearch" aria-expanded="false" aria-controls="collapseExample">
                Find Recipes <i class="fa-solid fa-arrow-down"></i>
              </button>
            <div class="collapse" id="advancedSearch">
             <form>
                    <div class="row ">
                        <div class="col-lg-2">
                        <div class="form-field">
                            <label>Time</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>All</option>
                                <option value="1" *ngFor="let time of Time">{{time}}</option>
                              </select>
                        </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-field">
                                <label>Time</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>All</option>
                                    <option value="1" *ngFor="let time of Time">{{time}}</option>
                                  </select>
                            </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-field">
                                    <label>Time</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>All</option>
                                        <option value="1" *ngFor="let time of Time">{{time}}</option>
                                      </select>
                                </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-field">
                                        <label>Time</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>All</option>
                                            <option value="1" *ngFor="let time of Time">{{time}}</option>
                                          </select>
                                    </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-field">
                                            <label>Time</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>All</option>
                                                <option value="1" *ngFor="let time of Time">{{time}}</option>
                                              </select>
                                        </div>
                                        </div>
                                        <div class="col-lg-2 d-flex align-items-end justify-content-center">
                                            
                                           <button class="btn submit-btn "> Search</button>
                                            </div>
                                        
                        </div>
                       
             </form>
            </div>
        </div>
     </div>
  </div>
 
   
   
