<div class="card">
    <div (click)="openRecipeDetails()" class="firstrow mb-2">
        <h4>{{ title }}</h4>
    </div>
    <div (click)="openRecipeDetails()" class="mediumrow">
        <img [src]="imgSrc" />
        <div class="content">
            <p>
                {{ text }}
            </p>
        </div>
    </div>
    <div class="lastrow mt-3 w-100">
        <div class="boxes d-flex justify-content-between w-100">
            <app-star-rating [rating]="receipeRating" [starCount]="starCount" [color]="starColor"></app-star-rating>
        </div>
    </div>
</div>