<div class="bg-dark heroSection">
    <app-bread-crumb [Title]="title" [Text]="text"></app-bread-crumb>
</div>
<app-saving></app-saving>
<app-slider [images]="imgagesList" [autoSlide]="true"></app-slider>
<div class="container">
    <div class="row">
        <div class="col-m-12">
            <h2>Just For You</h2>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3">
            <app-card></app-card>
        </div>
        <div class="col-md-3">
            <app-card></app-card>
        </div>
        <div class="col-md-3">
            <app-card></app-card>
        </div>
        <div class="col-md-3">
            <app-card></app-card>
        </div>
    </div>
    <!-- <div class="row mt-5">
        <div class="col-md-3" *ngFor="let recipe of recipesList">
            <app-card [recivedRecipe]="recipe"></app-card>
        </div>
    </div> -->
</div>