<section class="d-flex flex-column container m-auto align-items-center text-center justify-content-center">
    <figure class="logo my-5">
        <img class="w-100" src="../../../assets/images/logo-4.jpg" alt="" />
    </figure>

    <h2 class="">Your recipes are waiting</h2>
    <h4 class="fw-normal m-3">Connect to customize your recipe discovery.</h4>

    <!-- <button class="btn loginBtn btn-primary rounded-pill container d-flex justify-content-start align-items-center px-1" style="background-color: #3c5a9a">
    <span class="loginBtnIcon bg-light d-flex">
      <img class="w-75" src="../../../assets/images/facebook.png" alt="" />
    </span>
    <span class="btn-text">connect with facebook</span>
  </button> -->

    <button class="btn loginBtn rounded-pill container d-flex justify-content-start align-items-center text-dark px-1" #loginRef (click)="signin()">
    <span class="loginBtnIcon bg-light d-flex">
      <img
        class="loginBtnImg"
        src="../../../assets/images/google.png "
        alt=" "
      />
    </span>
    <span class="btn-text text-dark">connect with google</span>
  </button>

    <button (click)="signWithEmail()" class="btn loginBtn btn-primary rounded-pill container d-flex justify-content-start align-items-center px-1" style="background-color: '#3a9691'">
    <span class="loginBtnIcon bg-light d-flex">
      <img
        src="../../../assets/images/email.png "
        class="loginBtnImg w-75"
        alt=" "
      />
    </span>
    <span class="btn-text">connect with user name</span>
  </button>
</section>