.collection-header {
    width: 100%;
    height: 350px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.collection-img-container {
    margin: auto;
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.collection-img {
    max-width: 100%;
    transform: scale(2);
    width: 100%;
    z-index: -1;
}

.blur {
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    background-color: black;
    z-index: 1;
    opacity: .8;
}

.header-content {
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    z-index: 2;
}

textarea {
    width: fit-content;
    max-width: 100%;
    text-overflow: ellipsis;
}

.collection-description {
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    box-shadow: none;
    border: none;
    text-align: center;
    resize: none;
    width: fit-content;
}

.delete-collection {
    height: 20px;
    bottom: 0px;
    right: 0px;
    margin: 0px 20px 20px 0px;
    position: absolute;
    z-index: 3;
}

.icon-container {
    width: 150px;
    height: 150px;
}

.search-icon {
    max-width: 100%;
}

.search-icon:hover {
    cursor: pointer;
    filter: invert(49%) sepia(30%) saturate(568%) hue-rotate(76deg) brightness(96%) contrast(97%);
}

.recipes-section {
    margin: 100px auto;
}

input {
    background-color: transparent;
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    box-shadow: none;
    border: none;
    text-align: center;
    width: 80%;
}

input:hover {
    cursor: pointer;
}

input:focus {
    cursor: auto;
}