<main>
    <button (click)="back()" class="d-flex align-items-center m-3 back-btn">
    <img
      class="back-icon"
      src="../../../assets/images/icons8-back-48.png"
      alt=""
      srcset=""
    />
    <span class="back-text">Back</span>
  </button>
    <section class="my-3 mx-auto main-section">
        <article class="d-flex flex-column align-items-center justify-content-center">
            <h3 class="fw-bold">Cooks Loves Us</h3>
        </article>
        <article class="my-3">
            We're rated 4.5 out of 5 stars because our users have so much success finding recipes they love.
        </article>

        <article class="d-felx flex-column">
            <form action="">
                <input class="my-4" type="text" name="email" id="" placeholder="Email Adress" required pattern="^[a-zA-z]{1}[a-zA-z0-9.-]{1,49}$" />
                <input type="password" name="password" id="" placeholder="Password" required />
                <div class="my-5">
                    <button class="login-btn rounded-pill">Login Now</button>
                </div>
            </form>
        </article>
        <article class="m-5">
            <h4 class="text-danger">Sorry, You Don't Have an Accout</h4>

            <h4 class="m-3">Register Now?</h4>
            <button class="login-btn rounded-pill m-2">Register Now</button>
        </article>
    </section>
</main>