<main>
    <button (click)="back()" class="d-flex align-items-center m-3 back-btn">
    <img
      class="back-icon"
      src="../../../assets/images/icons8-back-48.png"
      alt=""
      srcset=""
    />
    <span class="back-text">Back</span>
  </button>
    <section class="my-3 mx-auto main-section">
        <article class="d-flex flex-column align-items-center justify-content-center">
            <h3 class="fw-bold">Cooks Loves Us</h3>
        </article>
        <article class="my-3">
            We're rated 4.5 out of 5 stars because our users have so much success finding recipes they love.
        </article>

        <article>
            <form [formGroup]="userLoginForm">
                <input (focus)="hideRegiter()" formControlName="userName" type="text" id="userName" name="userName" placeholder="User Name" />
                <div class="validator-class d-flex flex-column" style="height: 15px">
                    <small *ngIf="!userName?.untouched && userName?.errors?.['required']">
            * User Name Is Required
          </small>
                </div>
                <input (focus)="hideRegiter()" formControlName="password" type="password" name="password" placeholder="Password" />
                <div class="validator-class d-flex flex-column" style="height: 15px">
                    <small *ngIf="
                password?.errors?.['required'] && !password?.untouched">
            * Password Is Required
          </small>
                </div>
                <div class="my-5">
                    <button type="submit" (click)="loginWithUserName()" class="login-btn rounded-pill">
            Login
          </button>
                </div>
            </form>
        </article>
        <article class="my-5">
            <div *ngIf="registerSectionShown">
                <h4 class="text-danger">Sorry, You Don't Have an Accout</h4>

                <h4 class="m-3">Register Now?</h4>

                <article class="d-felx flex-column">
                    <form [formGroup]="userRegisterForm">
                        <input class="my-4" type="text" formControlName="userName" name="userName" placeholder="User Name" />
                        <input type="password" formControlName="password" name="password" placeholder="password" />
                        <div class="my-1">
                            <section>
                                <div class="validator-class d-flex flex-column" *ngIf="!userNameReg?.untouched">
                                    <small *ngIf="
                                userNameReg?.errors?.['required'] ">
                    * User Name Is Required
                  </small>
                                    <small *ngIf="userNameReg?.errors?.['pattern']">
                    * user name should be between 3 and 50 letters <br />
                    * user name can't be an email <br />
                    * user name should starts with a letter
                  </small>
                                </div>
                                <div class="validator-class d-flex flex-column" *ngIf="!passwordReg?.untouched">
                                    <small *ngIf="
                                    passwordReg?.errors?.['required'] ">
                    * Password Is Required
                  </small>
                                    <small *ngIf="passwordReg?.errors?.['pattern']">
                    * password should be morethan 6 digits <br />
                    * password should contains at least one uppercase character,
                    one lowercase charachter and one number
                  </small>
                                </div>
                            </section>
                            <button type="submit" (click)="registerWithUserName()" class="login-btn rounded-pill my-3">
                Register Now
              </button>
                        </div>
                    </form>
                </article>
            </div>
        </article>
    </section>
</main>