<main>
    <button (click)="back()" class="d-flex align-items-center m-3 back-btn">
    <img
      class="back-icon"
      src="../../../assets/images/icons8-back-48.png"
      alt=""
      srcset=""
    />
    <span class="back-text">Back</span>
  </button>
    <section class="my-3 mx-auto main-section">
        <article class="d-flex flex-column align-items-center justify-content-center">
            <h3 class="fw-bold">Cooks Loves Us</h3>
        </article>
        <article class="my-3">
            We're rated 4.5 out of 5 stars because our users have so much success finding recipes they love.
        </article>

        <article class="d-felx flex-column">
            <form (ngSubmit)="loginWithUserName()">
                <input #loginName="ngModel" (focus)="hideRegiter()" [(ngModel)]="userName" class="my-4" type="text" id="userName" name="userName" placeholder="User Name" pattern="^[a-zA-z]{1}[a-zA-z0-9.-]{1,49}$" required />
                <input #loginPass="ngModel" (focus)="hideRegiter()" [(ngModel)]="password" type="password" name="password" placeholder="Password" required />
                <div class="my-5">
                    <input type="submit" class="login-btn rounded-pill" value="login" />
                </div>
            </form>
        </article>
        <article class="m-5">
            <div *ngIf="registerSerctionShown">
                <h4 class="text-danger">Sorry, You Don't Have an Accout</h4>

                <h4 class="m-3">Register Now?</h4>

                <article class="d-felx flex-column">
                    <form (ngSubmit)="registerWithUserName()">
                        <input [(ngModel)]="registerUserName" class="my-4" type="text" name="userName" placeholder="User Name" pattern="^[a-zA-z]{1}[a-zA-z0-9.-]{1,49}$" required />

                        <input [(ngModel)]="registerPassword" type="password" name="password" placeholder="Password" required />
                        <div class="my-5">
                            <button type="submit" class="login-btn rounded-pill m-2">
                Register Now
              </button>
                        </div>
                    </form>
                </article>
            </div>
        </article>
    </section>
</main>