<div class="container my-5 pt-5 pb-4 text-center mt-5 pb-5 ">
    <div class="row  mt-5 mb-5">
        <div class="col-md-6   m-auto ">
            <h1 class="text-white mb-3 mt-5">
                {{Text}}
            </h1>
            <nav aria-label="breadcrumb " >
                <ol class="breadcrumb justify-content-center text-uppercase" >
                
                  <li class="breadcrumb-item"><a class="text-white" (click)="goback()">Home</a></li>
                  <li class="breadcrumb-item active text-white" aria-current="page">{{Title}}</li>
                </ol>
              </nav>
        </div>
    </div>
   

</div>
