<div class="container pt-5 pb-4 text-center">
    <div class="row mt-5 mb-5">
        <div class="col-md-6 m-auto">
            <h1 class="text-white mb-3 mt-5">
                {{ Text }}
            </h1>

            <nav aria-label="breadcrumb " class="">
                <ol class="breadcrumb d-flex justify-content-center align-items-center">
                    <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
                    <li class="breadcrumb-item text-white" aria-current="page">
                        {{ Title }}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>