.add-collection-card {
    display: flex;
    width: 220px;
    height: 220px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='7' ry='7' stroke='%23FEBD2EFF' stroke-width='3' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 7px;
}

.plus-icon {
    width: 50px;
    height: 50px;
    border: 50%;
}

.add-collection-text {
    color: var(--main-color);
    margin-top: 10px;
    height: 40px;
    white-space: nowrap;
}

.collection {
    display: flex;
    overflow: hidden;
    min-width: 220px;
    max-width: 220px;
}

.collection-img {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    border-radius: 30px;
}

.collection-name {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

figure {
    width: 220px;
    height: 220px;
    border-radius: 16px;
}

h3 {
    color: var( --bg-initial);
    font-size: 1.8em !important;
}

input {
    border: none;
    font-size: 1.2em;
    background-color: white;
}

.collection-name-input {
    width: 160px;
}

input:focus {
    outline: none !important;
    border: none;
    box-shadow: none;
    caret-color: var(--main-color);
    text-align: start;
}

.separator {
    width: 1.5px;
    height: 15px;
    background-color: var(--secondary-color);
}

.cancel-btn,
.add-btn {
    margin: 0px 5px;
    font-size: 1em;
}

.add-btn {
    color: var(--main-color);
}

.cancel-btn {
    color: var( --bg-gray);
}