<main>
    <h3 class="text-center m-auto my-4">Collections</h3>
    <hr class="w-75 mb-5 mx-auto" />
    <!-- Add New Collection Section -->
    <section class="d-flex mx-5 flex-wrap justify-content-center">
        <article class="add-collection-card collection d-flex flex-column align-items-center justify-content-center m-3">
            <div ChangeCursor *ngIf="isAddFormShown == false" class="d-flex flex-column align-items-center justify-content-center" (click)="showHideAddForm()">
                <i class="plus-icon">
          <img
            class="w-100"
            src="../../../assets/images/icon-plus.png"
            alt=""
          />
        </i>
                <h5 class="add-collection-text">Add Collection</h5>
            </div>
            <form class="w-100" *ngIf="isAddFormShown == true" (ngSubmit)="addCollection(newCollection.value)">
                <div class="w-100 d-flex flex-column flex-wrap justify-content-center align-items-center text-center">
                    <input #newCollection type="text" class="form-control collection-name-input" name="collectionName" placeholder="Collection Name" maxlength="20" required />
                    <div class="d-flex align-items-center">
                        <input class="add-btn" type="submit" value="Add" />
                        <div class="separator"></div>
                        <input class="cancel-btn" type="button" value="Cancel" (click)="showHideAddForm()" />
                    </div>
                </div>
            </form>
        </article>

        <ng-container *ngFor="let collection of collectionsList; let i = index">
            <section ChangeCursor class="collection d-flex flex-column justify-content-between m-3" (click)="openColletionDetails(i)">
                <figure>
                    <img class="w-100 collection-img" src="{{ collection.collectionImage }}" alt="" srcset="" />
                </figure>
                <div class="d-flex justify-content-between w-100" style="color: var(--bg-initial)">
                    <div class="collection-name">
                        {{ collection.collectionName }}
                    </div>
                    <div>{{ collection.numberOfRecipes }} Recipes</div>
                </div>
            </section>
        </ng-container>
    </section>
</main>